html {
  height: 100%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background-color: red;
  animation: change 12s ease infinite;
}

@keyframes change {
  0% {
    background-color: #1b7f8e;
  }
  25% {
    background-color: #365657;
  }
  50% {
    background-color: #1c5c5c;
  }
  75% {
    background-color: #04826b;
  }
  100% {
    background-color: #485f5d;
  }
}

main {
  flex-grow: 1;
}
img {
  vertical-align: middle;
  object-fit: cover;
}
